    <!DOCTYPE html>
    <html>
        <head>
            <title>Simulacion examen</title>
            <script>
                function Submit(){
                    let respuesta = document.getElementById('input');
                    console.log(respuesta.value)
                    if(respuesta.value !== ''){
                        let answer = respuesta.value
                        let num = 2;
                        axios.post('/respuesta',{answer,num}).then(()=>{
                            axios.get('/allRespuestas').then((resp)=>{
                                if(!resp.data){
                                    alert('aun hay preguntas sin responder');
                                }else{
                                    axios.post('/finish').then(()=>{
                                window.location.href = `https://segundo-parcial-roberto-m.herokuapp.com/results`;
                            })
                                }
                            })

                        });
                    }else{
                        alert('Escribe algo')
                    }
                    
                }
                function p1(){
                    window.location.href = `https://segundo-parcial-roberto-m.herokuapp.com/pregunta1`;

                }
                function p2(){
                    window.location.href = `https://segundo-parcial-roberto-m.herokuapp.com/pregunta2`;
                }
            </script>
            <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        </head>
        <body>
            <button onclick="p1()">P1</button>
            <button onclick="p2()">P2</button>
            <h1>
            Pregunta 3
            </h1>
            Escribe un pequño poema
            <br><br>
            <textarea rows="4" cols="50" name="comment" id  = 'input'><%=resp%></textarea>
            <button onclick="Submit()">Enviar respuestas</button>
        </body>
    </html>